
  .OuterContainer{
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    height: 100%;
  }
  
  .container{
    display: flex;
    align-self: center;
    border-radius: 13px;
    border-style: solid;
    border-width: 8px;
    border-color: gray;
    height: 100%;
  }
  .logo{
    width: 60%;
    height: 10%;
    align-self: flex-start;
    margin: 1rem;
  }
  p{
    color: darkgray;
  }
  h2, h1{
    color: darkgray;
    text-align: left;
  }
  .rightPane{
    padding-top: 2rem;
    padding-left: 1rem;
    width: 70%;
    background-color:white;
    display: flex;
    flex-direction: column;
    color:darkslateblue;
  }
  .leftPane{
    width: 30%;
    background-color: #003a9b;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
  }
  .paneWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  form{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    margin: 0 auto;
  }
  .icon{
    align-self: center;
    width:40px;
    height:40px;
    background-color:cornsilk;
    border-radius: 50%;
    padding: 3px;
  }
  .fields{
    display: flex;
    margin-bottom: 10px;
  }
  .selectfields{
    display:flex;
    justify-content: space-between;
  }
  .fieldWrapper{
    margin: 5px;
    display: flex;
    flex-direction: column;
  }
  .inputWrapper{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    justify-content: space-around;
  }
  .selectwrapper{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    justify-content: space-around;
  }
  
  label{
    text-align: left;
    margin: 2px;
  }
  input{
    border-radius: 5px;
    width: 200px;
    margin-bottom: 10px;
    background-color: whitesmoke;
  }
  input:hover{
    border-color: #003a9b;
  }
  select{
    margin: 5px;
    width: 200px;
  }
  button{
    margin: 6px;
    padding: 0.5rem;
    width: 7rem;
    border-radius: 15px;
    font-weight: bold;
  }
  button:hover{
    color: white;
    background-color: #003a9b;
  }
  
  .error{
    color: red;
  }
  .navWrapper{
    display: flex;
  }
  .round{
    border-radius: 50%;
    width: 10%;
    text-align: center;
    background-color: #003a9b;
    color: gray;
    height: 40px;
  }
  .color-wt{
    color:white;
    font-weight: bold;
    border-color: white;
  }
  .profilebackground{
    background-color: skyblue;
  }
  .navbuttonwrapper{
    display: none;
  }
  @media screen and (max-width: 500px) {
    .OuterContainer{
      padding-top: 0px;
    }
    .fields{
      flex-direction: column;
    }
    .leftPane{
      display: none;
    }
    .rightPane{
      width: 100%;
      padding-top: 8px;
    }
    .navbuttonwrapper{
      display: flex;
      justify-content: center;
    }
    .navbutton{
      border-radius: 50%;
      height: 1px;
      width: 1px;
      background-color: gray;
    }
    .selected{
      background-color: white;
    }
  }